body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.title {
  position: relative;
  text-align: center;
  margin-top: 30vh;
  font-size: 75px;
}

.button {
  margin-left: 20px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.monitor {
  font-size: 200px;
  margin-bottom: 50px;
}
